@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<h2>팝업창</h2>

<body>
    <br>    
    <b><font size="5" color="gray">자식창</font></b>
    <br><br>
    <input type="text" id="cInput"><br><br>
    <input type="button" value="창닫기" onclick="window.close()">
</body>