@model Note

<form asp-controller="Note" asp-action="Edit"
      enctype="multipart/form-data" method="post">
    @Html.Partial("_BoardEditorForm")
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}